@media (max-width: 992px) {

  
    nav > ul {
        text-align: center;
    }

    nav > ul > li {
        margin: 10px 15px;
    }

    .marg-left-rig {
        margin: 10px 15px;
    }

    .btn {
        margin: 10px;
    }
}



@media (max-width: 576px) {

    nav > ul {
        text-align: center;
    }

    nav > ul > li {
        display: block;
        margin: 15px 0;
    }

    .marg-left-rig {
        margin: 15px 0;
    }

    .btn {
        display: inline-block;
        margin: 15px 0;
    }

   
    .dp-content {
        position: static;
        width: 100%;
        box-shadow: none;
    }

    .dp-content-ar {
        position: static;
        width: 100%;
        box-shadow: none;
    }
}










/* Footer */
@media (max-width: 992px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }
    .btn-sub{
    display: inline-block;
        margin-top: 5%;
    }
    .foot-container{
        text-align: center;
    }
    .wid{
        text-align: center;
        width:80%;
    }
   

}
@media (max-width:576px) {
   
    .btn-sub{
    display: inline-block;
        margin-top: 5%;
        padding:2% 2%;
    }
    .foot-container{
        text-align: center;
    }
    .wid{
        text-align: center;
    }
    .email{
        padding: 2% 2%;
    }
    
}
