* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* Big Image */
.hero-image {
    display: block;
    width: 100%;
    height: auto;
}

/* Dark layer */
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

/* Text */
.hero-content {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    text-align: center;
    color: rgb(255, 253, 253);
    z-index: 1;
}

.hero-content h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.hero-content p {
    width: 600px;
    margin: 0 auto 30px;
    font-size: 16px;
    line-height: 1.8;
}

.hero-content button {
    background-color: rgb(38, 160, 160);
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

/* Rooms */
.rooms {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    gap: 20px;
    justify-content: center;
    z-index: 3;
}

.room-card {
    position: relative;
    width: 20%;
    height: 270px;
    overflow: hidden;
}

.room-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room-card h3 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

.room-card span {
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: rgb(38, 160, 160);
    color: white;
    padding: 8px 12px;
    font-size: 14px;
}

/*PROMO SECTION */

.promo-section {
    width: 100%;
    padding: 80px 0;
    background-color: #ffffff;
    text-align: center;
}

.small-title {
    font-size: 13px;
    letter-spacing: 4px;
    color: #777;
    margin-bottom: 18px;
}

.promo-section h2 {
    font-size: 45px;
    font-weight: 400;
    color: #343246;
    margin-bottom: 45px;
}

/* Cards Container */

.promo-cards {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* Individual Card */

.promo-card {
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    border: 1px solid #eeeeee;
}

/* Card Image */

.promo-card img {
    width: 100%;
    height: 295px;
    object-fit: cover;
    display: block;
}

/* Card Content */

.card-content {
    background-color: #ffffff;
    padding: 28px 15px 30px;
}

.card-content h3 {
    font-size: 21px;
    color: #393548;
    margin-bottom: 15px;
}

.card-content p {
    font-size: 16px;
    color: #999999;
    margin-bottom: 20px;
}

/* Read More Button */

.card-content button {
    background-color: rgb(38, 160, 160);
    color: white;
    border: none;
    padding: 10px 22px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.card-content button:hover {
    background-color: rgb(38, 160, 160);
}
 
/*secssion3*/

.features {
    width: 100%;
    display: flex;
    margin-top: 80px;
}

.feature-card {
    width: 50%;
    height: 330px;
    position: relative;
    overflow: hidden;
}

.feature-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Dark overlay */

.feature-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
}

/* Text */

.feature-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    width: 100%;
}

.feature-content p {
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.feature-content h2 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 25px;
}

/* Buttons */

.feature-content button {
    border: none;
    padding: 13px 30px;
    background-color: rgb(38, 160, 160);
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.feature-card:first-child .feature-content button {
    background-color: #222222;
}

.feature-content button:hover {
    opacity: 0.85;
}

/* Shop 2 */

.shop2-hero {
    width: 100%;
    height:350px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.shop2-hero img {
    width: 100%;
    height: 90%;
    display: block;
    object-fit: cover;
    object-position: center;
    filter: brightness(65%);
}


.shop2-hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
}

.shop2-hero-content h1 {
    font-size: 60px;
    font-weight: 400;
    margin: 0;
}


   /*products*/

.products {
    width: 82%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px 45px;
}

.product-card {
    background-color: white;
}

.products .product-image {
    width: 100%;
    height: 280px;
    position: relative;
    overflow: hidden;
}

.products .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.sale {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(38, 160, 160);
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
}

.product-card h2 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #292929;
}

.product-card p {
    color: #999;
    font-size: 18px;
    margin-bottom: 25px;
}

.old-price{
    text-decoration: line-through;
    color:#aaa;
    margin-right: 8px;
}  


.product-card button {
    background-color: #292929;
    color: white;
    border: none;
    padding: 13px 22px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

    /* Single Product */

    .product-hero {
    width: 100%;
    height: 380px;
    position: relative;
    overflow: hidden;
}

.product-hero img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: block;
    filter: brightness(70%);
}

.product-overlay h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 60px;
    font-weight: 400;
    margin: 0;
}

.product-details {
    width: 85%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    align-items: start;
}

.product-image {
    width: 100%;
    height: 100%;
}

.product-image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
}

.product-info {
    padding-top: 0;
}

.product-info h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 20px;
    color: #333;
}

.price {
    font-size: 30px;
    font-weight: 300;
    color: #777;
    margin-bottom: 35px;
}

.product-info > p {
    font-size: 15px;
    line-height: 2;
    color: #999;
    margin-bottom: 25px;
}

.product-options {
    margin-top: 45px;
}

.option-row {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    margin-bottom: 20px;
}

.option-row label {
    font-size: 16px;
    color: #333;
}

.option-row select {
    width: 100%;
    height: 50px;
    border: 1px solid #eeeeee;
    background-color: #fff;
    padding: 0 15px;
    font-size: 15px;
    color: #777;
    outline: none;
}

.cart-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.cart-row input {
    width: 120px;
    height: 40px;
    border: 1px solid #eeeeee;
    text-align: center;
    font-size: 15px;
    color: #555;
    outline: none;
}

.cart-row button {
    height: 40px;
    padding: 0 25px;
    border: none;
    background-color: rgb(38, 160, 160);
    color: white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.product-meta {
    margin-top: 40px;
}

.product-meta p {
    color: #aaa;
    font-size: 15px;
    margin-bottom: 20px;
}

.product-meta span {
    color: #555;
    margin-right: 10px;
}

.product-meta span {
    display: inline-block;
    border: 1px solid #eeeeee;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}
/* Product Tabs */

.product-tabs {
    width: 90%;
    margin: 80px auto;
}

.tabs {
    display: flex;
    gap: 60px;
    border-bottom: 1px solid #eeeeee;
}

.tab {
    background: none;
    border: none;
    padding: 0 0 20px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.tab.active {
    border-bottom: 4px solid #7895b2;
}

.tab-content {
    padding-top: 45px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.tab-content h3 {
    font-size: 28px;
    font-weight: 400;
    color: #333;
    margin-bottom: 35px;
}

.tab-content p {
    font-size: 16px;
    line-height: 2;
    color: #999;
    margin: 0;
}


/* Additional Information */

.additional-info {
    margin-top: 40px;
}

.additional-info h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
}


/* Reviews */

#reviews h3 {
    font-size: 22px;
    font-weight: 400;
    color: #333;
    margin-bottom: 40px;
}

#reviews p {
    font-size: 15px;
    color: #999;
    line-height: 1.8;
    margin-bottom: 5px;
}

#reviews label {
    display: block;
    font-size: 15px;
    color: #999;
    margin-bottom: 10px;
}

.stars {
    display: flex;
    gap: 5px;
    margin-bottom: 25px;
}

.star {
    font-size: 28px;
    color: #777;
    cursor: pointer;
}

.star.active {
    color: #333;
}

#reviews textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #eeeeee;
    background-color: #fafafa;
    padding: 12px;
    resize: vertical;
    margin-bottom: 20px;
}

#reviews input[type="text"],
#reviews input[type="email"] {
    width: 100%;
    height: 45px;
    border: 1px solid #eeeeee;
    background-color: #fafafa;
    padding: 10px;
    margin-bottom: 25px;
}

.save-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.save-info input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.save-info span {
    font-size: 14px;
    color: #999;
}

.submit-btn {
    background-color: rgb(38, 160, 160);
    color: white;
    border: none;
    padding: 12px 22px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
/* Global Style */
.d-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.container{
    width:80%;
    margin: 0% auto;
    padding-bottom: 10%;
   
}
.txt-dec{
    text-decoration: none
}
.list-sty{
    list-style: none;
}
.white{
    color:white;
}
.jus-cont-evenly{
    justify-content: space-evenly;
}
.d-line{
    display:inline-block;
}
.text-cen{
    text-align: center;
}

.margin-top-bottom{
    margin:1% 0%;
}
.margin-top-bottom2{
    margin:6% 0%;
}
.grey{
    color:rgb(42, 41, 41);
    font-weight: 400;
}
.marg-left-right{
    margin:0% 2%;
}

/* Custom Style */
.bg{
   background-color: teal;
   padding-top: 5%;
   
    height:100%;
}
.btn-sub{
    background-color:rgb(38, 160, 160) ;
    transition:0.3s;
 font-weight: 500;
   
  padding:4% 7%;
  
    border:0;
}
.btn-sub:hover{
    background-color: black;
}
.email{
     padding:4% 7%;
     outline:0;
     color:white;
     background-color:rgb(21, 104, 104);
     border:0;
}
.email::placeholder{
    color:white;
}
.wid{
    width:30%;
}
.email:hover{
    background-color: black;
}
.bg-teal{
     background-color:rgb(21, 104, 104);
      padding: 2% 0%;
      /* margin-bottom: 3%; */
}

/* JavaScript Tabs */

.content {
    display: none;
}

.content.active {
    display: block;
}

.additional-info {
    margin-top: 40px;
}

.additional-info h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
}

.info-row {
    display: flex;
    padding: 20px 30px;
    border-top: 1px solid #6b6868;
}

.info-row:last-child {
    border-bottom: 1px solid #eeeeee;
}

.info-title {
    width: 30%;
    font-weight: bold;
}

.info-value {
    width: 70%;
    color: #615e5e;
    font-style: italic;
}

   /*related-product*/

.related-products {
    width: 80%;
    margin: 70px auto;
}

.related-products h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 35px;
}

.related-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.related-card {
    width: 24%;
    text-align: center;
}

.related-image {
    position: relative;
    width: 100%;
}

.related-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.sale {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(38, 160, 160);
    color: white;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
}

.related-card h3 {
    font-size: 20px;
    margin: 15px 0;
    font-weight: 600;
}

.price {
    color: #888;
    font-size: 15px;
    margin-bottom: 20px;
}

.old-price {
    text-decoration: line-through;
    color: #aaa;
    margin-right: 5px;
}

.related-card button {
    background-color: #20262b;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

#cart-message {
    width: 85%;
    margin: 30px auto;
    padding: 15px 20px;
    border-top: 2px solid rgb(38, 160, 160);
    background-color: #fafafa;
    color: #726f6f;
    font-size: 14px;
    display: none;
    align-items: center;
    gap: 8px;
}

#cart-message span {
    color: rgb(38, 160, 160);
    font-size: 20px;
}

#cart-message strong {
    font-weight: 400;
}

#cart-message a {
    color:rgb(38, 160, 160);
    text-decoration: none;
    margin-left: auto;
    font-weight: bold;
}


/* 
 Responsive - Shop 1*/

@media (max-width: 992px) {

    /* Hero */
    .hero-image {
        height: 650px;
        object-fit: cover;
    }

    .hero-content {
        width: 80%;
        top: 32%;
    }

    .hero-content h1 {
        font-size: 52px;
    }

    .hero-content p {
        width: 100%;
        font-size: 15px;
    }

    /* Rooms */
    .rooms {
        width: 90%;
        bottom: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .room-card {
        width: 100%;
        height: 200px;
    }


    /* Promo Cards */
    .promo-cards {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .promo-section h2 {
        font-size: 38px;
    }


    /* Features */
    .features {
        flex-direction: column;
    }

    .feature-card {
        width: 100%;
        height: 300px;
    }
}


@media (max-width: 576px) {

    /* Hero */
    .hero-image {
        height: 780px;
        object-fit: cover;
    }

    .hero-content {
        width: 90%;
        top: 27%;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        width: 100%;
        font-size: 14px;
        line-height: 1.7;
    }

    .hero-content button {
        padding: 10px 25px;
    }


    /* Rooms */
    .rooms {
        width: 90%;
        bottom: 25px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .room-card {
        width: 100%;
        height: 170px;
    }

    .room-card h3 {
        font-size: 15px;
        bottom: 10px;
        left: 10px;
    }

    .room-card span {
        top: 10px;
        right: 10px;
        padding: 6px 8px;
        font-size: 11px;
    }


    /* Promo Section */
    .promo-section {
        padding: 60px 0;
    }

    .small-title {
        font-size: 11px;
        letter-spacing: 3px;
    }

    .promo-section h2 {
        font-size: 30px;
        margin-bottom: 35px;
        padding: 0 15px;
    }

    .promo-cards {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .promo-card img {
        height: 280px;
    }


    /* Features */
    .features {
        margin-top: 50px;
    }

    .feature-card {
        width: 100%;
        height: 250px;
    }

    .feature-content h2 {
        font-size: 32px;
    }

    .feature-content p {
        font-size: 11px;
    }

}


/* =========================
   Responsive - Shop 1
========================= */

@media (max-width: 992px) {

    /* Hero */
    .hero {
        height: 850px;
    }

    .hero-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-content {
        width: 80%;
        top: 30%;
    }

    .hero-content h1 {
        font-size: 52px;
    }

    .hero-content p {
        width: 100%;
        font-size: 15px;
    }

    /* Rooms */
    .rooms {
        width: 90%;
        bottom: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .room-card {
        width: 100%;
        height: 200px;
    }


    /* Promo */
    .promo-section {
        position: relative;
        z-index: 5;
    }

    .promo-cards {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .promo-section h2 {
        font-size: 38px;
    }


    /* Features */
    .features {
        flex-direction: column;
    }

    .feature-card {
        width: 100%;
        height: 300px;
    }
}


@media (max-width: 576px) {

    /* Hero */
    .hero {
        height: 850px;
    }

    .hero-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-content {
        width: 90%;
        top: 27%;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        width: 100%;
        font-size: 14px;
        line-height: 1.7;
    }

    .hero-content button {
        padding: 10px 25px;
    }


    /* Rooms */
    .rooms {
        width: 90%;
        bottom: 25px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .room-card {
        width: 100%;
        height: 170px;
    }

    .room-card h3 {
        font-size: 15px;
        bottom: 10px;
        left: 10px;
    }

    .room-card span {
        top: 10px;
        right: 10px;
        padding: 6px 8px;
        font-size: 11px;
    }


    /* Promo */
    .promo-section {
        position: relative;
        z-index: 5;
        padding: 60px 0;
    }

    .small-title {
        font-size: 11px;
        letter-spacing: 3px;
    }

    .promo-section h2 {
        font-size: 30px;
        margin-bottom: 35px;
        padding: 0 15px;
    }

    .promo-cards {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .promo-card {
        width: 100%;
    }

    .promo-card img {
        height: 280px;
    }


    /* Features */
    .features {
        margin-top: 50px;
    }

    .feature-card {
        width: 100%;
        height: 250px;
    }

    .feature-content h2 {
        font-size: 32px;
    }

    .feature-content p {
        font-size: 11px;
    }

}
/* Responsive - Shop 2 */

@media (max-width: 992px) {

    /* Hero */
    .shop2-hero {
        height: 300px;
    }

    .shop2-hero img {
        height: 100%;
    }

    .shop2-hero-content h1 {
        font-size: 50px;
    }

    /* Products */
    .products {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 25px;
    }

    .products .product-image {
        height: 260px;
    }

    .product-card h2 {
        font-size: 22px;
    }
}


@media (max-width: 576px) {

    /* Hero */
    .shop2-hero {
        height: 250px;
    }

    .shop2-hero-content h1 {
        font-size: 40px;
    }

    /* Products */
    .products {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 45px;
        margin: 50px auto;
    }

    .products .product-image {
        height: 300px;
    }

    .product-card h2 {
        font-size: 23px;
    }

    .product-card p {
        font-size: 17px;
    }

    .product-card button {
        padding: 12px 20px;
    }
}



/* Responsive - Single Product */

@media (max-width: 768px) {

    /* Product Hero */
    .product-hero {
        height: 250px;
    }

    .product-hero img {
        height: 100%;
    }

    .product-overlay h1 {
        font-size: 40px;
    }

    /* Product Details */
    .product-details {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 40px;
        margin: 40px auto;
    }

    .product-image img {
        height: 400px;
    }

    .product-info h1 {
        font-size: 28px;
    }

    .price {
        font-size: 26px;
    }

    /* Options */
    .option-row {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .option-row select {
        width: 100%;
    }

    .cart-row {
        width: 100%;
    }

    .cart-row input {
        width: 90px;
    }

    .cart-row button {
        flex: 1;
    }

    /* Tabs */
    .product-tabs {
        width: 90%;
        margin: 60px auto;
    }

    .tabs {
        gap: 20px;
        flex-wrap: wrap;
    }

    .tab {
        font-size: 15px;
    }

    .tab-content {
        padding-top: 30px;
    }

    .tab-content h3 {
        font-size: 24px;
    }

    /* Reviews */
    #reviews textarea,
    #reviews input[type="text"],
    #reviews input[type="email"] {
        width: 100%;
    }

    .save-info {
        align-items: flex-start;
    }

    /* Related Products */
    .related-products {
        width: 90%;
    }

    .related-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 20px;
    }

    .related-card {
        width: 100%;
    }

    .related-image img {
        height: 220px;
    }
}

.bg-nav .container {
    padding-bottom: 0 !important;
}

